/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

:root {
  font-size: 16px;
}

@media (max-width: 800px) {
  :root {
    font-size: 10px;
  }
}

header {
  margin-top: 20px;
  width: 100%;
  display: flex;
  /* padding: 50px; */
  flex-direction: row;
  justify-content: space-between
}

.navigation {
  display: flex;
  /* padding: 50px; */
  flex-direction: row;
}

@media (max-width: 800px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

.navigation a {
  padding: 20px;
  color: grey;
  text-decoration: none;
}

@media (max-width: 500px) {
  .navigation a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
  }
}

.main-content {
  margin: 0 auto;
  max-width: 850px;
}

.features {
  display: inline-block;
  width: 300px;
  height: 100px;
  padding: 30px;
  position: relative;
  right: 3%;
}

.about {
  display: inline-block;
  width: 300px;
  height: 100px;
  padding-left: 40px;
  position: relative;
  left: 25%;
}

.logo2 {
  width: 40%;
  padding-left: 10px;
  margin: right;
  padding-top: 10px;
  margin-left: 110px;
}

h1 {
  font-size: 80px;
  text-align: center;
}
@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}

.services {
  display: inline-block;
  width: 250px;
  height: 100px;
  padding-right: 30px;
}

.product {
  display: inline-block;
  width: 250px;
  height: 100px;
  padding: 30px;
  position: relative;
  left: 10%;
}

.vision {
  display: inline-block;
  width: 250px;
  height: 100px;
  padding-right: 30px;
  position: relative;
  left: 25%;
}

.bottom-content {
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.middle-img {
  align-items: center;
  border-bottom: 1px solid black;
  width: 1010px;
}

button {
  padding: 5px 40px;
  background: white;
  border: 1px solid black;
  margin-top: 20px;
  width: 50%;
}

.hero-container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 20px;
}
@media (max-width: 800px) {
  .hero-container {
    justify-content: center;
  }
  .hero-container .logo2 {
    display: none;
  }
  .hero-container .iod {
    text-align: center;
    font-size: 40px;
  }
}

.iod {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  align-items: center;
}

.feat {
  width: 500px;
  display: inline-block;
}

.secondd {
  width: 300px;
  display: inline-block;
}

@media (max-width: 800px) {
  .top-content {
    display: flex;
    align-items: baseline;
    flex-direction: row;
    align-content: flex-end;
    height: 2%;
  }
}

@media (max-width: 500px) {
  .top-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
  }
}

@media (max-width: 800px) {
  .bottom-content {
    display: flex;
    align-items: baseline;
  }
}

@media (max-width: 500px) {
  .bottom-content {
    display: flex;
    align-items: baseline;
    flex-direction: column;
  }
}
